# Set prior to 1_deployer_funding.js
CHILD_CHAIN_NAME=
CHILD_RPC_URL=
CHILD_CHAIN_ID=
ROOT_CHAIN_NAME=
ROOT_RPC_URL=
ROOT_CHAIN_ID=
## The IMX token address on root chain.
IMX_ROOT_ADDR=
## The Wrapped ETH token address on the root chain.
WETH_ROOT_ADDR=
## The private key for the admin EOA or "ledger" if using hardware wallet.
ADMIN_EOA_SECRET=
## The Axelar address for receive initial funding.
AXELAR_EOA=
## The amount of fund Axelar requested, unit is in IMX or 10^18 Wei.
AXELAR_FUND=
# The address to perform child bridge upgrade.
CHILD_PROXY_ADMIN=
# The address to perform root adaptor upgrade.
ROOT_PROXY_ADMIN=

# Set prior to 2_deployment_validation.js
CHILD_GATEWAY_ADDRESS=
CHILD_GAS_SERVICE_ADDRESS=
MULTISIG_CONTRACT_ADDRESS=
ROOT_GATEWAY_ADDRESS=
ROOT_GAS_SERVICE_ADDRESS=

# Set prior to 5_child_initialisation.js
CHILD_BRIDGE_ADDRESS=
CHILD_ADAPTOR_ADDRESS=
WRAPPED_IMX_ADDRESS=
CHILD_TOKEN_TEMPLATE=
ROOT_BRIDGE_ADDRESS=
ROOT_ADAPTOR_ADDRESS=
ROOT_TOKEN_TEMPLATE=