# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/31338/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# VS Code settings
.vscode/

# Contract addresses
addresses.json

broadcast/**
broadcast/InitializeRootContracts.s.sol/2500/run-latest.json
broadcast/InitializeChildContracts.s.sol/2501/run-latest.json
broadcast/DeployRootContracts.s.sol/2500/run-latest.json
broadcast/DeployChildContracts.s.sol/2501/run-latest.json
