name: End to End Test

on: [push]

env:
  FOUNDRY_PROFILE: ci

jobs:
  build:
    name: End to End Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3

      - name: Set Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly-34f684ddfacc5b2ed371353ba6f730c485616ffe

      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: Run build
        uses: borales/actions-yarn@v4
        with:
          cmd: build

      - name: Run Test
        run: |
          yarn local:start &
          yarn local:ci