name: Build and Test

on: [push]

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    env:
      DEPLOYMENTS: ${{ vars.DEPLOYMENTS }}
      MAINNET_BRIDGE_ADDRESS: ${{ vars.MAINNET_BRIDGE_ADDRESS }}
      MAINNET_FLOW_RATED_TOKENS: ${{ vars.MAINNET_FLOW_RATED_TOKENS }}
      TESTNET_BRIDGE_ADDRESS: ${{ vars.TESTNET_BRIDGE_ADDRESS }}
      TESTNET_FLOW_RATED_TOKENS: ${{ vars.TESTNET_FLOW_RATED_TOKENS }}
      MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
      TESTNET_RPC_URL: ${{ secrets.TESTNET_RPC_URL }}
    strategy:
      fail-fast: true
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set Node.js 18.18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.18.x

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly-cafc2606a2187a42b236df4aa65f4e8cdfcea970

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes
        id: build

      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: Run build
        uses: borales/actions-yarn@v4
        with:
          cmd: build

      - name: Run Unit Tests
        run: |
          forge test --match-path "test/unit/**" -vvv
        id: unit_test

      - name: Run Integration Tests
        run: |
          forge test --match-path "test/integration/**" -vvv
        id: integration_test

      - name: Run Fuzz Tests
        run: |
          forge test --match-path "test/fuzz/**" -vvv
        id: fuzz_test

      - name: Run Fork Tests
        run: |
          forge test --match-path "test/fork/**" -vvvvv
        id: fork_test

      - name: Run Invariant Tests
        run: |
          yarn local:testchain
          forge test --match-path "test/invariant/**" -vvvvv
        id: invariant_test